<a href="https://colab.research.google.com/github/tasnimislamraisa/Python_Learning/blob/main/Mid_lab_221004412.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
import numpy as np
import pandas as pd
import seaborn as sns
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt

In [28]:
df = pd.read_csv('Naive Bayes_Titanic-Dataset - Naive Bayes_Titanic-Dataset.csv')

In [30]:
df.tail(6)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.125,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.450,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.750,NaN,Q

In [31]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [32]:
df.fillna(df.mean(numeric_only=True),inplace=True)
df.fillna(df.mode().iloc[0], inplace=True)

In [33]:
df.duplicated().sum()

np.int64(0)

In [12]:
#df.drop_duplicates(inplace=True)

In [37]:
df['Embarked'].value_counts()

Embarked
S    646
C    168
Q     77
Name: count, dtype: int64

In [64]:
from sklearn.preprocessing import LabelEncoder
lab_encoder = LabelEncoder()
for col in ['Sex', 'Ticket', 'Cabin', 'Embarked']:
    df[col] = lab_encoder.fit_transform(df[col])

In [65]:
x = df[['Survived','Pclass','Sex','Age','SibSp','Parch','Ticket','Fare','Cabin']]
y = df['Embarked']

In [66]:
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [67]:
y_train.head(7)

331    2
733    2
382    2
704    2
813    2
118    0
536    2
Name: Embarked, dtype: int64

In [68]:
model = GaussianNB()
model.fit(x_train, y_train)
y_pred = model.predict(x_test)

In [70]:
# without feature scaling
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Precision:", precision_score(y_test, y_pred, average='weighted'))
print("Recall:", recall_score(y_test, y_pred, average='weighted'))
print("F1-Score:", f1_score(y_test, y_pred, average='weighted'))

Accuracy: 0.5083798882681564
Precision: 0.6696019874880931
Recall: 0.5083798882681564
F1-Score: 0.5400353341703088

In [71]:
sc = StandardScaler()
X_train_scaled = sc.fit_transform(x_train)
X_test_scaled  = sc.transform(x_test)

In [72]:
model_scaled = GaussianNB()
model_scaled.fit(X_train_scaled,y_train)
y_pred_scaled = model_scaled.predict(X_test_scaled)

In [76]:
print("Accuracy:", accuracy_score(y_test, y_pred_scaled))
print("Precision:", precision_score(y_test, y_pred_scaled, average='weighted'))
print("Recall:", recall_score(y_test, y_pred_scaled, average='weighted'))
print("F1-Score:", f1_score(y_test, y_pred_scaled, average='weighted'))

Accuracy: 0.5083798882681564
Precision: 0.6696019874880931
Recall: 0.5083798882681564
F1-Score: 0.5400353341703088