<a href="https://colab.research.google.com/github/TasnimIslamRaisa/Python_Learning/blob/edupython/Python_Class6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Set In Python**

In [ ]:
#  set of fruits

fruits = {"apple", "banana", "cherry", "orange"}
print(fruits)

{'orange', 'apple', 'banana', 'cherry'}

In [ ]:
# remove duplicate value

fruits = {"apple", "banana", "cherry", "orange", "apple"}
print(fruits)

fruits.add('apple')
print(fruits)

fruits.remove('apple')
print(fruits)

fruits.discard('orange')
print(fruits)

fruits.pop()
print(fruits)

{'orange', 'apple', 'banana', 'cherry'}
{'orange', 'apple', 'banana', 'cherry'}
{'orange', 'banana', 'cherry'}
{'banana', 'cherry'}
{'cherry'}

In [ ]:
# union,intersection,difference

fruits = {"apple", "banana", "cherry", "orange"}
vegetables = {"carrot", "potato", "onion", "apple"}

# Union
union_set = fruits.union(vegetables)
print("Union:", union_set)

# Intersection
intersection_set = fruits.intersection(vegetables)
print("Intersection:", intersection_set)

# Difference (elements in fruits but not in vegetables)
difference_set = fruits.difference(vegetables)
print("Difference (fruits - vegetables):", difference_set)

# Difference (elements in vegetables but not in fruits)
difference_set_reverse = vegetables.difference(fruits)
print("Difference (vegetables - fruits):", difference_set_reverse)

Union: {'orange', 'apple', 'carrot', 'onion', 'cherry', 'potato', 'banana'}
Intersection: {'apple'}
Difference (fruits - vegetables): {'orange', 'banana', 'cherry'}
Difference (vegetables - fruits): {'carrot', 'onion', 'potato'}

In [ ]:
# prompt: symentric difference

fruits = {"apple", "banana", "cherry", "orange"}
vegetables = {"carrot", "potato", "onion", "apple"}

# Symmetric Difference (elements in either fruits or vegetables, but not in both)
symmetric_difference_set = fruits.symmetric_difference(vegetables)
print("Symmetric Difference:", symmetric_difference_set)

Symmetric Difference: {'orange', 'carrot', 'onion', 'potato', 'cherry', 'banana'}

In [ ]:
#  set comprehnsions

numbers = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Create a new set containing only even numbers
even_numbers = {number for number in numbers if number % 2 == 0}
print(even_numbers)

# Create a new set containing only odd numbers
odd_numbers = {number for number in numbers if number % 2 != 0}
print(odd_numbers)

# Create a new set containing squares of numbers
squares = {number**2 for number in numbers}
print(squares)

{2, 4, 6, 8, 10}
{1, 3, 5, 7, 9}
{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [ ]:
#  unique element and membership testing

fruits = {"apple", "banana", "cherry", "orange"}

# Membership testing
print("apple" in fruits)  # True
print("grape" in fruits)  # False

True
False

**Exercise **

In [ ]:
# 1.  make a set of two friends hobby.make union,intersection and differences of hobbies

friend1_hobbies = {"reading", "hiking", "painting", "coding"}
friend2_hobbies = {"hiking", "photography", "gaming", "coding"}

# Union of hobbies
union_hobbies = friend1_hobbies.union(friend2_hobbies)
print("Union of hobbies:", union_hobbies)

# Intersection of hobbies
intersection_hobbies = friend1_hobbies.intersection(friend2_hobbies)
print("Intersection of hobbies:", intersection_hobbies)

# Difference in hobbies (friend1 - friend2)
difference_hobbies_1 = friend1_hobbies.difference(friend2_hobbies)
print("Hobbies only friend1 has:", difference_hobbies_1)

# Difference in hobbies (friend2 - friend1)
difference_hobbies_2 = friend2_hobbies.difference(friend1_hobbies)
print("Hobbies only friend2 has:", difference_hobbies_2)

Union of hobbies: {'reading', 'painting', 'hiking', 'photography', 'gaming', 'coding'}
Intersection of hobbies: {'coding', 'hiking'}
Hobbies only friend1 has: {'reading', 'painting'}
Hobbies only friend2 has: {'gaming', 'photography'}

In [ ]:
# 2. create a set  of cities you have visited and you friend. find the common cities

my_visited_cities = {"London", "Paris", "New York", "Tokyo"}
friend_visited_cities = {"Paris", "Rome", "Tokyo", "Sydney"}

# Find the common cities using intersection
common_cities = my_visited_cities.intersection(friend_visited_cities)
print("Common cities visited:", common_cities)

# cities that only I visited
unique_to_me = my_visited_cities.difference(friend_visited_cities)
print("Cities visited only by me:", unique_to_me)

# cities that only my friend visited
unique_to_friend = friend_visited_cities.difference(my_visited_cities)
print("Cities visited only by my friend:", unique_to_friend)

Common cities visited: {'Paris', 'Tokyo'}
Cities visited only by me: {'London', 'New York'}
Cities visited only by my friend: {'Sydney', 'Rome'}

**Tuple**

In [ ]:
# tuples all operation
# Tuple immutable : cannot modify

# Tuple Creation
my_tuple = (1, 2, 3, "apple", "banana")
print(my_tuple)


# Accessing Elements
print(my_tuple[0])  # Output: 1
print(my_tuple[3])  # Output: apple


# Slicing
print(my_tuple[1:4])  # Output: (2, 3, 'apple')


# Tuple Length
print(len(my_tuple))  # Output: 5


# Concatenation
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
new_tuple = tuple1 + tuple2
print(new_tuple)  # Output: (1, 2, 3, 4, 5, 6)


# Repetition
repeated_tuple = tuple1 * 3
print(repeated_tuple)  # Output: (1, 2, 3, 1, 2, 3, 1, 2, 3)


# Membership Testing
print(1 in tuple1)  # Output: True
print(7 in tuple1)  # Output: False


# Iteration
for item in my_tuple:
  print(item)


# Tuple Methods
# Tuple objects have only two methods: count() and index()

# count()
my_tuple = (1, 2, 3, 2, 4, 2)
print(my_tuple.count(2))  # Output: 3 (counts the number of occurrences of 2)


# index()
print(my_tuple.index(4))  # Output: 4 (returns the index of the first occurrence of 4)


# Unpacking
my_tuple = (1, 2, 3)
a, b, c = my_tuple
print(a, b, c)  # Output: 1 2 3


# Nested Tuples
nested_tuple = ((1, 2), (3, 4), (5, 6))
print(nested_tuple[1][0])  # Output: 3

(1, 2, 3, 'apple', 'banana')
1
apple
(2, 3, 'apple')
5
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
True
False
1
2
3
apple
banana
3
4
1 2 3
3