<a href="https://colab.research.google.com/github/TasnimIslamRaisa/Python_Learning/blob/edupython/Python_Lab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a,b,c=5,3.2,"Hell0"
print(a) #print 5
print(b) #print 3.2
print(c) # print Hello

5
3.2
Hell0

In [ ]:
site1 = site2 = "google.com"
print (site1) # print google.com
print (site2) # print google.com

google.com
google.com

In [ ]:
num_string ="12"
num_integer =23

print("Data type of num_string before Type Casting:", type(num_string))

num_string=int(num_string)

print("Data type of num_string after Type Casting:", type(num_string))

num_sum = num_integer +num_string
print("Sum:",num_sum)
print("Data type of num_sum:",type(num_sum))

Data type of num_string before Type Casting: <class 'str'>
Data type of num_string after Type Casting: <class 'int'>
Sum: 35
Data type of num_sum: <class 'int'>

In [ ]:
name = input("Enter your name: ")
city = input("Enter your city:")
print("Hello My name is",name)
print("I am from ",city)

Enter your name: Alif
Enter your city:CTG
Hello My name is Alif
I am from  CTG

In [ ]:
w = input("Enter Width :")
width = float(w)

h = input("Enter height:")
height = float(h)

area=width*height
print("Area of rectangle = ",area)

Enter Width :5.5
Enter height:5
Area of rectangle =  27.5

In [ ]:
monthly_saving=10.5
num_months=4
new_savings= monthly_saving*num_months
print("Value:",new_savings)
print("Data type of new_savings:",type(new_savings))

Value: 42.0
Data type of new_savings: <class 'float'>

In [ ]:
width = int(input("Enter Width :"))
height = int(input("Enter height:"))




area=width*height
print("Area of rectangle = ",area)

Enter Width :5
Enter height:6
Area of rectangle =  30

In [ ]:
name=input("Enter your name: ")
university=input("University: ")
city= input("Enter your city: ")
print("Hello "+ name+ ",you read at "+university+" and live in "+city)

Enter your name: Alice
University: East Delta University
Enter your city: CTG
Hello Alice,you read at East Delta University and live in CTG

In [ ]:
num1= float(input("Enter the first number:"))
num2= float(input("Enter the second number:"))
sum_result= num1+num2
sub_result=num1-num2
mul_result=num1*num2
div_result=num1 / num2
print("Addition:",sum_result)
print("Difference:",sub_result)
print("Product:",mul_result)
print("Quotient:",div_result)

Enter the first number:6
Enter the second number:3
Addition: 9.0
Difference: 3.0
Product: 18.0
Quotient: 2.0