<a href="https://colab.research.google.com/github/TasnimIslamRaisa/Python_Learning/blob/edupython/python_class8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
def sum(a,b) :
  result = a+b
  return result

def avgNumber(sum,n) :
  result=sum/n
  return result

sum=sum(10,20)

print(sum)
avgNumber(sum,2)

30

15.0

In [16]:
def markSheet(name,sub1,sub2,sub3,sub4,sub5,n) :
  avgNumber=(sub1+sub2+sub3+sub4+sub5)/n
  print(f"{name}'s avg mark is {avgNumber}")

name=input("What is your name? ")
numberOfSub=int(input("How many subjects do you have? "))

markSheet(name,91,92,79,95,83,numberOfSub)

# Do this with user input number : hints (Use List)
'''numbers=[]
for n in range(numberOfSub):
  numbers.append(int(input(f"What is your mark in subject {n+1}? ")))
  '''

What is your name? Tasnim
How many subjects do you have? 5
Tasnim's avg mark is 88.0

'numbers=[]\nfor n in range(numberOfSub):\n  numbers.append(int(input(f"What is your mark in subject {n+1}? ")))'

In [61]:
def markSheet(name,numbers,n) :
  sum=0
  for value in numbers:
    sum+=value
    avgNumber=sum/n
  print(f"{name}'s avg mark is {avgNumber}")


name=input("What is your name? ")
numberOfSub=int(input("How many subjects do you have? "))
numbers=[]

for n in range(numberOfSub):
  numbers.append(int(input(f"What is your mark in subject {n+1}? ")))

markSheet(name,numbers,numberOfSub)

What is your name? Tasnim
How many subjects do you have? 2
What is your mark in subject 1? 10
What is your mark in subject 2? 20
Tasnim's avg mark is 15.0

In [30]:
# Arbitary Argument :

def myFunction(*find) :
  print(type(find))
  lenghth = len(find)
  print(lenghth)

  print("The elements of tuple : ",*find)

  print(find[0])
  print(find[1])
  print(find[2])


myFunction("Hello","World",2)

<class 'tuple'>
3
The elements of tuple :  Hello World 2
Hello
World
2

In [ ]:
# Keyword Argument :
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Bristy", child2 = "Raisa", child3 = "Arham")

In [ ]:
#Arbitary keyword Argument :
def my_function(**name):
  print("Her First name is " + name['fname'])
  print("Her last name is " + name["lname"])

my_function(fname = "Tasnim",m_name = "Islam", lname = "Raisa")

In [58]:
# Default parameter
def sum(a=10,b=20) :
  print("Value of a :",a)
  print("Value of a :",b)
  return a+b

print(sum(10,30))
print(sum())
print(sum(100,))

Value of a : 10
Value of a : 30
40
Value of a : 10
Value of a : 20
30
Value of a : 100
Value of a : 20
120

In [88]:
# Practice Problem
def legOfList(list) :
  print("The cities of list : ",*list)
  print("length Of Bangladeshi Cities : ",len(list))

def printCities(list) :
  print("The cities of list : ",end=" ")
  for city in bangladeshi_cities:
    print(city,end=" ")

bangladeshi_cities=["Dhaka","Chittagong","Khulna","rajshahi","sylhet","Barishal","Comilla","rangpur"]
legOfList(bangladeshi_cities)
printCities(bangladeshi_cities)

The cities of list :  Dhaka Chittagong Khulna rajshahi sylhet Barishal Comilla rangpur
length Of Bangladeshi Cities :  8
The cities of list :  Dhaka Chittagong Khulna rajshahi sylhet Barishal Comilla rangpur

In [91]:
def factorial(n) :
  mul = 1
  for i in range(1,n+1) :
    mul = mul * i
  return mul

number=int(input("Enter a number : "))
result=factorial(number)
print(f"Factorial of {number} is : {result}")

Enter a number : 5
Factorial of 5 is : 120

In [95]:
def usdToTk(usd) :
  tk=usd*120
  return tk


usd=int(input("Enter USD : "))
tk=usdToTk(usd)
print(tk)

Enter USD : 10
1200

In [97]:
def oddOrEven(number) :
  if number%2==0 :
    print(f"{number} is even")
  else :
    print(f"{number} is odd")

a=int(input("Enter a number "))
oddOrEven(a)

Enter a number 11
11 is odd

In [115]:
def evenOddCount(list) :
  even=0
odd=0
for i in list :
  if i%2==0 :
    even+=1
  elif i%2!=0 :
    odd+=1
if odd==even :
  print("equal")
elif odd>even :
  print("odd")
else :
  print("even")

num = [1,2,3,4,5,6]
evenOddCount(num)

even