<a href="https://colab.research.google.com/github/TasnimIslamRaisa/Python_Learning/blob/edupython/Python_Lab5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# prompt: set of fruits

fruits = {"apple", "banana", "cherry", "orange"}
print(fruits)

{'orange', 'apple', 'banana', 'cherry'}

In [11]:
# prompt: remove duplicate value

fruits = {"apple", "banana", "cherry", "orange", "apple"}
print(fruits)

fruits.add('apple')
print(fruits)

fruits.remove('apple')
print(fruits)

fruits.discard('orange')
print(fruits)

fruits.pop()
print(fruits)

{'orange', 'apple', 'banana', 'cherry'}
{'orange', 'apple', 'banana', 'cherry'}
{'orange', 'banana', 'cherry'}
{'banana', 'cherry'}
{'cherry'}

In [12]:
# prompt: union,intersection,difference

fruits = {"apple", "banana", "cherry", "orange"}
vegetables = {"carrot", "potato", "onion", "apple"}

# Union
union_set = fruits.union(vegetables)
print("Union:", union_set)

# Intersection
intersection_set = fruits.intersection(vegetables)
print("Intersection:", intersection_set)

# Difference (elements in fruits but not in vegetables)
difference_set = fruits.difference(vegetables)
print("Difference (fruits - vegetables):", difference_set)

# Difference (elements in vegetables but not in fruits)
difference_set_reverse = vegetables.difference(fruits)
print("Difference (vegetables - fruits):", difference_set_reverse)

Union: {'orange', 'apple', 'carrot', 'onion', 'cherry', 'potato', 'banana'}
Intersection: {'apple'}
Difference (fruits - vegetables): {'orange', 'banana', 'cherry'}
Difference (vegetables - fruits): {'carrot', 'onion', 'potato'}

In [13]:
# prompt: symentric difference

fruits = {"apple", "banana", "cherry", "orange"}
vegetables = {"carrot", "potato", "onion", "apple"}

# Symmetric Difference (elements in either fruits or vegetables, but not in both)
symmetric_difference_set = fruits.symmetric_difference(vegetables)
print("Symmetric Difference:", symmetric_difference_set)

Symmetric Difference: {'orange', 'carrot', 'onion', 'potato', 'cherry', 'banana'}

In [15]:
# prompt: set comprehnsions

numbers = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Create a new set containing only even numbers
even_numbers = {number for number in numbers if number % 2 == 0}
print(even_numbers)

# Create a new set containing only odd numbers
odd_numbers = {number for number in numbers if number % 2 != 0}
print(odd_numbers)

# Create a new set containing squares of numbers
squares = {number**2 for number in numbers}
print(squares)

{2, 4, 6, 8, 10}
{1, 3, 5, 7, 9}
{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}