<a href="https://colab.research.google.com/github/TasnimIslamRaisa/Python_Learning/blob/edupython/Python_Class_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List In Python

In [ ]:
numbers=[1,2,3,4,5,6,7,8,9,10]

print(numbers)

print(numbers[2])

#neg indexing
print(numbers[-1])

sub_set=numbers[1:4]
print(sub_set)

print(numbers[:3])
print(numbers[3:])
print(numbers[1:11:2])

#Neg index slicing
print(numbers[:-1])
print(numbers[-3:])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
3
10
[2, 3, 4]
[1, 2, 3]
[4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[8, 9, 10]

In [ ]:
list=[1,2,3,4,5,6,7,8,9,10]
list[0]=0
print(list)
#append
list.append(11)
print(list)
#extend
list.extend([12,14,16])
print(list)

[0, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 16]

In [ ]:
#insert
list=[11,12,13,14,16,17,18,19,20]
list.insert(4,15)
print(list)

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
#remove
list=[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
print(list)

list.remove(19)   # remove the value
print(list)

list.pop(0)  #remove the index value
print(list)

list.clear()  #clear the values not the list
print(list)

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[11, 12, 13, 14, 15, 16, 17, 18, 20]
[12, 13, 14, 15, 16, 17, 18, 20]
[]

In [ ]:
#list Comprehension

list=[x for x in range(10)]
print(list)

numbers=[x for x in range(11,21,2)]
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[11, 13, 15, 17, 19]

In [ ]:
numbers=[x**2 for x in range(10)]
print(numbers)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#sort
numbers=[5,6,7,8,9,10,1,2,3,4,0]
numbers.sort()
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#sorted
numbers=[5,6,7,8,9,10,1,2,3,4,0]
print(sorted(numbers))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#reverse
numbers=[5,6,7,8,9,10,1,2,3,4,0]
numbers.reverse()
print(numbers)

[0, 4, 3, 2, 1, 10, 9, 8, 7, 6, 5]

In [ ]:
#reversed
numbers=[9,8,7,6,5,4,3,2,1]
reversed_list=list(reversed(numbers))
print(reversed_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
#copy
list=[1, 2, 3, 4, 5, 6, 7, 8, 9]
list_copy=list.copy()
print(list_copy)
#length
print(len(list))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
9

In [9]:
#list joining
list1=[1,2,3]
list2=[4,5,6]
list3=list1+list2
print(list3)
#

[1, 2, 3, 4, 5, 6]

In [13]:
fruits=['apple','banana','cherry']
#accessing each value using for loop
for fruit in fruits:
    print(fruit)
print()

#using while loop
i=0
while i<len(fruits) :
  print(fruits[i])
  i+=1

apple
banana
cherry

apple
banana
cherry

In [17]:
# enumerator
fruits=['apple','banana','cherry']
for index,fruit in enumerate(fruits):
    print(index,fruit)
    #print(index+1,fruit)

0 apple
1 banana
2 cherry

In [18]:
#enumerator  from index 1
fruits=['apple','banana','cherry']
for index,fruit in enumerate(fruits,start=1):
    print(index,fruit)

1 apple
2 banana
3 cherry

In [20]:
#index
fruits=['apple','banana','cherry']
indexOfcherry=fruits.index('cherry')
print(indexOfcherry)
#

2

# Excercise

In [16]:
# 1
fruits=['apple','banana','cherry','date']
  #a
print("The second element :",fruits[1])
print("The last element :",fruits[-1])
  #b
length=len(fruits)
print("The length of the list :",length)
print()
  #c
print("The 1st three element :",fruits[:3])
print()
 #d
vegetables=['carrot','broccoli']
con_list=fruits+vegetables
#fruits.extend(vegetables)
#print(fruits)
print(con_list)
print()
# e
if "banana" in fruits:
    print("Banana is present in the list")
else:
    print("Banana is not present in the list")
print()
  # F
for fruit in fruits:
    print(fruit)

The second element : banana
The last element : date
The length of the list : 4

The 1st three element : ['apple', 'banana', 'cherry']

['apple', 'banana', 'cherry', 'date', 'carrot', 'broccoli']

Banana is present in the list

apple
banana
cherry
date

In [23]:
# Ex : 2
numbers =[1,2,3,4,5]
# a
numbers.pop(2)
numbers.insert(2,10)
#numbers[2]=10
print("After changing the 3rd element into 10",numbers)
# b
numbers.append(6)
print(numbers)
# c
numbers.remove(2)
print(numbers)

After changing the 3rd element into 10 [1, 2, 10, 4, 5]
[1, 2, 10, 4, 5, 6]
[1, 10, 4, 5, 6]

In [42]:
# Ex : 3
# list =[1,2,3,4,5,6,7,8,9,10]
list=[x for x in range(1,11)]
print("The List : ",list)

list1=[x for x in list if x%2==0]
print("Filters the even numbers :",list1)

list2=[x**2 for x in list1]
print("Squares the filtered numbers :",list2)

The List :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Filters the even numbers : [2, 4, 6, 8, 10]
Squares the filtered numbers : [4, 16, 36, 64, 100]