<a href="https://colab.research.google.com/github/TasnimIslamRaisa/Python_Learning/blob/edupython/Python_Class_4_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
#while loop
i=1
while i<=5 :
  print(i)
  i+=1
# when loop is terminated else-block will work
else :
  print("Loop Finished")

1
2
3
4
5
Loop Finished

In [2]:
#Python infinite while loop
var =1
while var == 1:
  num=int(input('Enter a number : '))
  print("You entered : ",num)
  print("Good Bye")

Enter a number : 8
You entered :  8
Good Bye
Enter a number : 10
You entered :  10
Good Bye
Enter a number : 55
You entered :  55
Good Bye
Enter a number : o

ValueError: invalid literal for int() with base 10: 'o'

In [14]:
#For loop
numbers =[10,20,30,40,50,19]
for num in numbers :
  if(num%2==0) :
    print(num)
else :
  print("Loop Finished")

10
20
30
40
50
Loop Finished

In [30]:
#For loop with range() function
# range(start , stop,steps)
for num in range(5) :
  print(num)
else :
  print("Loop Finished")

for num in range(10,16) :
  print(num)
else :
  print("Loop Finished")

for num in range(1,11,2) :
  print(num)
else :
  print("Loop Finished")

0
1
2
3
4
Loop Finished
10
11
12
13
14
15
Loop Finished
1
3
5
7
9
Loop Finished

In [19]:
#Nested Loop
for i in range(1,3) :
  for j in range(1,4) :
      print(f"i={i},j={j}")
      #print("i = ",i,"j = ",j)

i=1,j=1
i=1,j=2
i=1,j=3
i=2,j=1
i=2,j=2
i=2,j=3

In [22]:
# Break Statement
for letter in "Python" :
  if letter == "h" :
    break;
  print("Current Letter :",letter)

Current Letter : P
Current Letter : y
Current Letter : t

In [27]:
# Break Statement
no =33
numbers=[10,20,33,55,39,23]
for num in numbers :
  if num==no :
    print("Number found in list ")
    break
    #print("Number found in list ")
  else :
    print("Number not found in list ")

Number not found in list
Number not found in list
Number found in list

In [24]:
# Continue statement
for letter in "Python" :
  if letter == "h" :
    continue;
  print("Current Letter :",letter)

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : o
Current Letter : n

In [28]:
# Pass statement
for letter in "Python" :
  if letter == "h" :
    pass;
    print("This block is pass")
  print("Current Letter :",letter)

Current Letter : P
Current Letter : y
Current Letter : t
This block is pass
Current Letter : h
Current Letter : o
Current Letter : n

In [76]:
#Excercise 1: sum of 1 to 100 using for loop
sum=0
for num in range(1,101) :
    sum+=num
    #break
print("Sum =",sum)
# sum of 1 to 100 using while loop
i=1
sum1=0
while i<=100 :
 sum1+=i
 i+=1
print("Sum =",sum1)

# Excercise 2: factorial Calculation using for loop with user input
fact=1
num=int(input("Enter a Number for factorial calculaion "))
if num<0 :
  print("Factorial is not defined for negative numbers")
else :
  for i in reversed(range(1,num+1)) :
  #for i in range(1,num+1) :
    fact*=i
print(fact)

# Excercise 3 : Multiplication table
number=int(input("Enter a Number for multiplication table "))
multiplication=1
for i in range(1,11) :
  multiplication=i*number
  print(number,"X",i," =",multiplication)


#Excercise 4: Fibonacci
numF1=0
numF2 =1
sumF0=0
print("Fibonacci Sequence")
print(numF1,numF2,end =" ")
i=3
while i<=10 :
  sumF=numF1+numF2
  print(sumF,end =" ")
  numF1=numF2
  numF2=sumF
  i+=1

Sum = 5050
Sum = 5050
Enter a Number for factorial calculaion 4
24
Enter a Number for multiplication table 3
3 X 1  = 3
3 X 2  = 6
3 X 3  = 9
3 X 4  = 12
3 X 5  = 15
3 X 6  = 18
3 X 7  = 21
3 X 8  = 24
3 X 9  = 27
3 X 10  = 30
Fibonacci Sequence
0 1 1 2 3 5 8 13 21 34

In [77]:
#Excercise 4: Fibonacci
a,b=0,1
count=0
while count<10 :
  print(a,end=" ")
  a,b = b,a+b
  count+=1

0 1 1 2 3 5 8 13 21 34

In [81]:
#pattern
row =5
for i in range(1,row+1) :    # for row
    for j in range(i) :      # for column
      print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *